.bg-dark {
    background-color: #252f3d !important;
}

body{
    background-color: #F3F4F4;
    font-family: "Poppins"!important;
}
button.btn.btn-red {
    background-color: #dc3545;
    color: white;
}
button.btn.btn-red:hover {
    background-color: #fe5c62;
    color: white;
}
.badge-img-title {
    background-color: #dc3545;
    color: white;
    text-align: center;
    width: 100%;
    font-size: 0.9em;
    padding: 1.4em;
    border-radius: 0rem;
}
.v-center {
    display: flex;
    align-items: center;
}
.card-title, .card-subtitle {
    margin-bottom: 0.75rem;
    color: #dc3545;
    font-size: 1.3em;
    font-family: "Poppins";
    font-weight: 500;
}
.lead {
    font-size: 1.25rem;
    font-weight: 600;
}
.nav-item .active {
    background-color: #dc3545;
}
.navbar .nav-link {
    color: white!important;
    text-transform: uppercase;
    font-family: 'Poppins';

}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: white;
     background-color: #dc3545;
    border-color: #dee2e6 #dee2e6 #fff;
}

.nav-tabs .nav-link:hover {
    color: white!important;
  background-color: #fe5c62;
  
}

.navbar-dark .navbar-brand {
    color: #fff;
    font-family: 'Gugi';
    font-size: 1.5em;
}
.jumbotron{
    background-image: url("https://new.bettingexpert.com/hero-bg.d92b627b51e1aa1fc6f2.jpg");
    color: #fff;
    border-radius: 0px;
    padding-top: 5em;
    padding-bottom: 6em;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 60% !important;
}
.jumbotron h1{
    font-family: 'Gugi';
    font-size: 4.5rem;
    font-weight: 300;
    line-height: 1.2;
}

@media screen and (max-width: 960px) {
    
    .jumbotron{
        text-align: center;
        background-position: 20% 50% !important;
    }
    .jumbotron h1 {
        font-size: 2.5rem;
    }
    .lead {
        font-size: 1.25rem;
        font-weight: 500;
    }
}